<%= form_for :plasmid, :html => {:multipart => true} do |f| %>

  <br>
  <h4>Create Plasmid</h4>
  <br>
  <div class="field">
    <%= f.label "Ligation number" %>
    <%= f.text_field :ligation, class: 'input-xxlarge' %>

    <%= f.label "Vector backbone" %>
    <%= f.text_field :vec_backbone, class: 'input-xxlarge' %>

    <%= f.label "Insert" %>
    <%= f.text_field :insert, class: 'input-xxlarge' %>

    <br>pUQC number<br>
    <%= f.text_field :puqc, class: 'input-xxlarge'  %>

    <%= f.label "Description" %>
    <%= f.text_area :descrip, class: 'input-xxlarge'  %>


    <%= f.label "Designer" %>
    <%= f.text_field :designer, class: 'input-xxlarge'  %>

    <br>
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <span class="fileupload-preview"></span>
        <span class="btn btn-file">
          <span class="fileupload-new">Select Genbank File</span>
            <%= f.file_field :gbkcw %>
          </span>
        </span>
       </span>
    </div>
    <br>    
  </div>

  <%= f.submit "Create plasmid", class: "btn btn-smbtn-primary" %>
<% end %>


