<% provide(:title, 'Oligos') %>
<h3>Oligo Database</h3>

<br>
<br>
   <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="oligos">
    <thead>                         
      <tr>
        <th>Oligo no.</th>                          
        <th>Name</th>
        <th>Sequence</th>
        <th>Tm (&deg;C)</th>
        <th>Description</th>
        <th>Designer</th>
        <th>Delete?</th>

        
      </tr>
    </thead>
    <tbody>
      <% @oligos.each do |oligos| %>       
      <tr>
        <td><%= oligos.oligo_no  %></td>
        <td><%= best_in_place oligos, :name %></td>
        <td><%= best_in_place oligos, :sequence   %></td>
        <td><%= best_in_place oligos, :tm  %></td>
        <td><%= best_in_place oligos, :descrip   %></td>
        <td><%= best_in_place oligos, :designer  %></td>
        <td><%= link_to "Delete", oligos, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-sm"%></td>

        
      </tr>
    <% end %>
  </tbody>
</table> 
<br>
<%= render 'shared/oligo_form' %>


