<footer class="footer">
  <small>
    SocGen
  </small>
  <nav>
    <ul>
      <li><%= link_to "Oligos", oligos_path %></li>
      <li><%= link_to "Seeds", seeds_path %></li>
      <li><%= link_to "Plasmids", plasmids_path %></li>
      <li><%= link_to "Help",    help_path %></li>        
      <li><%= link_to "Sign Up", signup_path %></li>
      <li><%= link_to "Contact", contact_path %></li>      
    </ul>
  </nav>
</footer>